
/*
good practice when using a lot of custom controls
*/
*{
    margin: 0;
    padding: 0;
} 

#title{
    font-size: 80px;
    color: white;
}

.myGame{
    height: 1500px;
    background-image: url("assets_game/window.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

body{
    background-color: wheat ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border-color: black;
    border-width: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 12vmin;
    color: red;
    background-color: whitesmoke;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: white;
    font-size: 50px;

}

.msg-container{
    height: 110vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}



